/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f7ff; /* Fondo suave azul */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Fondo suave con orillas suavizadas */
.content {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
}

/* Título grande */
h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

/* Estilos del carrusel */
.carousel {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

    .carousel-inner img {
        width: 100%;
        border-radius: 10px;
    }

/* Estilos para el select */
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    select, table {
        font-size: 14px;
    }
}


footer {
    background-color: #212529; /* Color de fondo del footer */
    color: #fff; /* Color de texto blanco */
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px; /* Centrar el texto verticalmente */
}
